{% extends 'base.html.twig' %}

{% block title %}Creation d'une équipe{% endblock %}

{% block body %}
{% if app.user %}
<div class="container-fluid">
<form class="row row-cols-lg-auto g-3 align-items-center" action="{{path('app_team_create')}}" method="post">
  <div class="col-12">
    <label class="visually-hidden" for="teamname">TeamName</label>
    <div class="input-group">
      <div class="input-group-text">@</div>
      <input type="text" class="form-control" name="teamname"id="teamname" placeholder="Nom de l'équipe" />
    </div>
  </div>

  <div class="col-12">
    <label class="visually-hidden" for="year">Année de l'équipe</label>
    <select class="select" name="year">
      <option value="2020/2021">2020/2021</option>
      <option value="2021/2022">2021/2022</option>
      <option value="2022/2023">2022/2023</option>
      <option value="2023/2024">2023/2024</option>
      <option value="2024/2025">2024/2025</option>
      <option value="2025/2026">2025/2026</option>
      <option value="2026/2027">2026/2027</option>
      <option value="2027/2028">2027/2028</option>
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Création de l'équipe</button>
  </div>
</form>
</div>
{% else %}
<div class="container">
<div class="col-12 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center text-center justify-content-center">
            <div class="error-template ">
                <h2>Désolé!</h2>
                <div class="error-details">
                   <h4> ceci est réservé aux personnes avec un compte ! </h4>
                </div>
                <div class="error-actions d-flex justify-content-around">
                    <a href="{{path('app_register')}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Inscription </a><a href="{{path('app_login')}}" class="btn btn-primary btn-lg"> Connexion </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}